<!DOCTYPE html>
<html>
  <head>
  <title>Student Learning</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>
	<div id="container0" style="min-width: 310px; height: 400px; margin: 0 auto; display: grid; grid-template-columns: repeat(2, 1fr);">
	  <div id='t1'></div>
	  <div id='t2'></div>
	</div>
	<div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	<div id="container3" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	<!-- partial -->
	<script>
		let motivation_obj = <%- JSON.stringify(motivation_obj) %>
		motivation_obj = JSON.parse(motivation_obj);
		let strategy_obj = <%- JSON.stringify(strategy_obj) %>
		strategy_obj = JSON.parse(strategy_obj);
		let bookroll_obj = <%- JSON.stringify(bookroll_obj) %>
		bookroll_obj = JSON.parse(bookroll_obj);
	</script>
	<script  src="/javascripts/sys0.js"></script>
	<script  src="/javascripts/sys2.js"></script>
	<script  src="/javascripts/sys3.js"></script>

  </body>
</html>
